.heading {
    max-width: 1120px;
    margin: 4rem auto 4rem;
    padding: 0 5rem;
}

.content {
    max-width: 1120px;
    margin: 4rem auto 4rem;
    padding: 0 5rem;

}

@keyframes create {
    0% {
        opacity: 0;
        margin-top: 9rem;
    }

    100% {
        opacity: 1.0;
        margin-top: 0rem;
    }
}

.post {

    margin-bottom: 3rem;
    animation-name: create;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    h1 {
        font-weight: bold;
        color : var(--heading);
        margin-bottom: 0.6rem;
        transition: color 0.1s;
    }

    .postTitle {
        display: block;
        margin-bottom: 1.8rem;
        transition: margin-left 0.2s;
    }

    &:hover {
        cursor: pointer;
        h1 {
            color : var(--highilight);
        }

        .postTitle {
            margin-left: 0.3rem;
        }
    }

}

.foot {
    max-width: 1120px;
    margin: 4rem auto 4rem;
    padding: 0 5rem;

    button {
        outline: none;
        background: none;
        border: none;
        color : var(--highilight);
        font-weight: bold;
        transition: filter 0.2s;

        &:hover {
           filter: brightness(0.7);
        }
    }
}
