.image {

    img {
        width: 100%;
        height: 350px;
        object-fit: cover;
    }

}

.main {
    display: flex;
    flex-direction: column;
    max-width: 1120px;
    margin: 0 auto 4rem;
    padding: 0 5rem;

    .info {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        span {
            margin-right: 1rem;
        }
        
    }

}

.content_body{

    h2 {
        margin-top: 2rem;
        margin-bottom: 1rem;
        padding: 0 auto;
    
    }

    p {
        margin: 1rem 0;
    }

    li {
        margin-left: 2rem;
        margin-bottom: 0.5rem;
    }

    a {
        color: var(--highilight);
        transition: filter 0.1s;
    }

    a:hover {
        filter: brightness(0.6);
    }

}

.title {
    margin-top: 4rem;
    margin-bottom: 2rem;
    padding: 0 auto;

}

@keyframes rotate {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.spin {
    width: 2rem;
    height: 2rem;
    
    border-radius: 16rem;
    border-top: 5px solid white;

    animation-name: rotate;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

.loading {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-items: center;
    max-width: 1120px;
    margin: 5rem auto 4rem;
    padding: 0 5rem;
}